@import "../../index.scss";

.text_foreground {
    color: $FOREGROUND;
}

.background_cyan {
    background-color: $CYAN;
}

.card_container_style {
    border-radius: 1em;
    background-color: $CURRENT_LINE;
}

.image_border {
    border: 1px solid $PURPLE;
}

.btn-primary {
    background-color: $PURPLE !important;
    :hover {
        background-color: $PURPLE !important;
    }
}
